<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Progress circles -->
    <link href="assets/css/progresscircle.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

<h1 class="page-header">Dashboard</h1>
<div class="row placeholders">
            <div class="col-xs-3 col-sm-3 placeholder">
              <div class="well">
                  <img src="static/images/csmall1.png" width="100" height="100">
                  <h4>Collected Payments</h4>
                  <!-- <span class="text-muted">Something else</span> -->
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 placeholder">
              <div class="well">
                  <img src="static/images/csmall2.png" width="100" height="100">
                  <h4>Pending Payments</h4>
                  <!-- <span class="text-muted">Something else</span> -->
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 placeholder">
              <div class="well">
                  <img src="static/images/csmall3.png" width="100" height="100">
                  <h4>Submitted Payments</h4>
                  <!-- <span class="text-muted">Something else</span> -->
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 placeholder">
              <div class="well">
                  <img src="static/images/csmall4.png" width="100" height="100">
                  <h4>Maintenance Budget</h4>
                  <!-- <span class="text-muted">Something else</span> -->
              </div>
            </div>
          </div>
